/**
* Welcome to your ✨𝔲𝔱𝔦𝔩𝔦𝔱𝔶 𝔰𝔱𝔶𝔩𝔢𝔰✨!
* This file includes utility classes that are super simple
* and can be used to add general styles; variable definitions
* for colors; and styles to html, body, and other high level
* DOMs.
* 
* All utility classes start with a `u-` and all do
* one basic CSS thing (for example, making the font-weight
* 600 for bolding) or are super generic.
* 
* This is 𝙉𝙊𝙏 the place to define classes for components or
* do rigorous styling. You shoud not need to change this file
* much after initial creation.
*/

/* TODO: REPLACE WITH YOUR OWN FONT! */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&display=swap');

:root {
  --primary: #396dff;
  --primary--dim: #6987db;
  --darkgrey: #d4d4d4;
  --blackgrey:  #797979;

  --deepgrey: #3d3d3d;
  --blackblack: #1b1b1b;

  --medgrey: #e0e0e0;
  --grey: #f7f7f7;
  --white: #fff;

  /* THEME COLORS */
  --copper: #BD6E5E;
  --melon: #FABFB3;
  --isabelline: #F8EDEB;
  --yellow: #FFED94;
  --champagne: #FFD285;
  --apricot: #FFB473;

  --red: #d64545;
  
  --salmon: #e06666ff;
  
  --darkbrown: #826549;
  --darkdarkbrown: #5e4a38;
  --lightbrown: #c2a286;

  --green: #cee079ff;
  --darkgreen: #a7ba50ff;
  --green--dim: rgb(214, 226, 155);

  --tag-red: #e06666ff;
  
  --xs: 4px;
  --s: 8px;
  --m: 16px;
  --l: 24px;
  --xl: 36px;
  --xxl: 48px;
}


form {
  flex-grow: 1;
}

.u-darkdarkbrown
{
  color: var(--darkdarkbrown);
}

.u-flex {
  display: flex;
}

.u-flexColumn {
  display: flex;
  flex-direction: column;
}

.u-flex-justifyCenter {
  justify-content: center;
}

.u-flex-alignCenter {
  align-items: center;
}

.u-inlineBlock {
  display: inline-block;
}

.u-padding {
  padding: var(--xs);
}

.u-morepadding
{
  padding: var(--s);
}

.u-bold {
  font-weight: 600;
}

.u-italics {
  font-style: italic;
}

.u-textCenter {
  text-align: center;
}

.u-textRight {
  text-align: right;
}

.u-textLarge
{
  font-size: 40px;
}

.u-textMedium
{
  font-size: 20px;
}

.u-relative {
  position: relative;
}

.u-pointer {
  cursor: pointer;
}

.u-link {
  color: var(--primary);
  text-decoration: none;
  cursor: pointer;
}

.u-link:hover {
  color: var(--primary--dim);
}

.u-input,
.u-submit,
.u-close
{
  font-size: 14px;
  margin: var(--s);
  padding: var(--s) var(--m);
}

.u-input {
  color: var(--copper);
  border: var(--copper) 2px solid;
  border-radius: var(--xs) 0 0 var(--xs);
  transition: box-shadow 0.1s;
}

.u-input:focus-within 
{
  border-color: var(--melon);
  outline: none;
  /* box-shadow: 0 0 0 var(--xs) var(--green--dim); */
}

.u-submit {
  color: var(--copper);
  border: var(--melon) 2px solid;
  border-radius: 0 var(--xs) var(--xs) 0;
  background: none;
  transition: color 0.1s, background 0.1s;
  outline:none;
}

.u-submit:hover {
  color: var(--white);
  background-color: var(--melon);
}


.u-close {
  color: var(--tag-red);
  border: var(--tag-red) 2px solid;
  border-radius: 5px;
  background: none;
  transition: color 0.1s, background 0.1s;
  outline:none;
}

.u-close:hover {
  color: var(--white);
  background-color: var(--tag-red);
}

.row-item {
  color: var(--copper);
}

.row-item:hover {
  color: var(--melon);
  text-decoration: line-through;
}
